@model StaffFrontend.Models.Review

@{
    ViewData["Title"] = "Edit";
}

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<h1>Edit</h1>

<h4>Review</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" style="display:none">
                <label asp-for="reviewId" class="control-label"></label>
                <input asp-for="reviewId" class="form-control" />
                <span asp-validation-for="reviewId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="reviewContent" class="control-label"></label>
                <input asp-for="reviewContent" class="form-control" readonly />
                <span asp-validation-for="reviewContent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="reviewRating" class="control-label"></label>
                <input asp-for="reviewRating" class="form-control" readonly />
                <span asp-validation-for="reviewRating" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="hidden" /> @Html.DisplayNameFor(model => model.hidden)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="productId" class="control-label"></label>
                <input asp-for="productId" class="form-control" readonly />
                <span asp-validation-for="productId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="createTime" class="control-label"></label>
                <input asp-for="createTime" class="form-control" readonly />
                <span asp-validation-for="createTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
